@font-face {
  font-family: 'SYS_WARNING';
  src: url('/fonts/sys_warning.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'sys_warning2';
    src: url('/fonts/8bitoperator_jve.ttf') format('truetype');
}

h1 {
    font-family: 'sys_warning2', Helvetica, sans-serif, Arial;
    max-width: 75ch;
    text-align: center;
    font-size: 1.5rem;
}

.sys_warning {
    display: flex;
    justify-content: center;
}